doctype html
html
  head
    meta(charset='UTF-8')
    title= 'MongoDB API'
    link(rel="stylesheet", href="/css/home.css")
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.206/distr/fira_code.css">
  body
    h1= 'Observatorio UFSJ API'
    br
    p= 'Bem vindo a API do observatorio, aqui você apenas consegue fazer consultas com metodo POST, para as URLS predefinidas dentro da documentação do sistema'
    p= "Ate agora estão implementadas as API's"
    p= 'MongoDB - usando Mongoose para salvar os dados dentro do banco de dados'
    p= 'Twitter API - usando Twit para pegar os tweets e salvalos dentro do banco de dados'